@import 'variable.less';

.pg_errs{
	width: 100%; max-width: 340px; margin: 50px auto; padding: 0 15px; display: block; text-align: center;
	h1{
		color: @clr_red; font-size: 100px; line-height: 90px; font-weight: 900; margin: 0 0 15px;
	}
	h2{
		color: @clr_darkgray; font-size: 24px; margin: 0 0 30px;
	}
	p{
		color: @clr_darkgray; font-size: 16px;
	}
	a{
		.all_button_design;
	}
}