@import 'variable.less';

.contact_us{
	.contact_us_content{
		ul, ol{
			padding-left: 25px;
			li{
				list-style-type: decimal;
			}
		}
	}
	a{
		color: @clr_red; 
		&:hover{
			text-decoration: underline !important;
		}
	}

	width: 100%; 
	.contact_left{
		width:100%; max-width: 40%; float: left; padding: 0 15px; margin-bottom: 30px;
		@media only screen and (max-width: 991px){
			max-width: 100%; padding: 0;
		}
		form#contact-form{
			width: 100%; min-width: 100%;
		}
	}
	.contact_right{
		width:100%; max-width: 60%; float: right; padding: 0 15px; margin-bottom: 30px;
		@media only screen and (max-width: 991px){
			max-width: 100%; padding: 0;
		}

		.address_usa, .address_local{
			width: 100%; border-bottom: solid 1px fade(@clr_darkgray, 30%); padding:15px 0; 
			.displayFlex(flex);
			@media only screen and (max-width: 480px){
				display: block;
			}
			p{
				padding: 15px; margin: 0; width: 100%; 
			}
			iframe{
				width: 100%; height: 100%; border: solid 1px rgba(0, 0, 0, 0.3) !important;
				@media only screen and (max-width: 480px){
					min-height: 270px;
				}
			}
			.clear;
		}
	}
	.clear;
}