@import 'variable.less';

footer.page-footer{
	padding-bottom: 0; background: fade(@clr_darkgray, 10%); box-shadow: 0 -1px 4px 0 fade(@clr_darkgray, 30%);
	.footer.content {
	    padding: 0 15px;
	}
	.footer_content{
		padding: 30px 0; margin: 0 -15px;
		@media only screen and (max-width: 767px){
			padding-bottom: 0;
		}

		.social_media {
		    display: block; margin: 20px 0;
		    a{
		    	display: inline-block; font-size: 24px; color: @clr_darkgray; margin: 0 2px;
		    	.fa{
		    		color: @clr_white; font-size: 14px; width: 30px; height: 30px; text-align: center; line-height: 30px; 
		    		border: solid 1px @clr_red; border-radius: 100%; box-shadow: 0 0 5px 1px fade(@clr_black, 50%); background: @clr_red; 
		    		vertical-align: top; display: block;
		    		&:before{
		    			margin-left: 5px;
		    		}
		    	}
		    }
		}

		.footer_logo {
		    @media only screen and (max-width: 991px){
		    	width: 100%; text-align: center; margin-bottom: 15px;
		    }
		    @media only screen and (max-width: 576px){
		    	border-bottom: solid 1px fade(@clr_black, 50%);
		    }
		    a{
		    	display: inline-block;
		    }
		}
		.footer_links{
			padding: 0 15px;
			@media only screen and (max-width: 576px){
				margin-top: 30px;
			}
			ul{
				padding: 0;
			}
			li{
				padding: 5px 0; margin: 0; background: no-repeat; border: none; 
				@media only screen and (max-width: 576px){
					text-align: center;
				}
				a{
					font-size: 14px; color: @clr_darkgray; display: inline-block; padding: 0; 
					&:hover{
						color: @clr_red; font-weight: 600;
					}
				}
			}
		}
		.footer_news_letter{
			@media only screen and (max-width: 576px){
				margin-top: 30px;
			}
			.block.newsletter{
				width: 100%;	
			}
			form#newsletter-validate-detail{
				display: block;
				.control{
					&:before{
						line-height: 40px; 
					}
					label{
						width: 100%; 
						input{
							width: 100%;
						}
					}
				}
				.actions{
					width: 100%; display: block;
					button.action.subscribe{
						font-size: 14px; color: @clr_white; width: 100%; text-transform: uppercase; height: auto; 
						background: @clr_red; border: 1px solid @clr_red; position: static; 
					}
				}
			}
		}
		> div{
			width: 25%; float: left; padding: 0 15px;
			@media only screen and (max-width: 991px){
				&:not(.footer_logo){
					float: left; width: 33.3%;
				}
			}
			@media only screen and (max-width: 576px){
				float: none !important; display: block !important; width: 100% !important; text-align: center;
			}
		}

		.clear;
	}
}

small.copyright{
	background: @clr_darkgray; color: @clr_white;
}
