@import 'variable.less';

*{outline: 0 none !important; box-sizing: border-box; }
body{
	font-size: 16px; font-family: @Quattrocento; background: #faf7ee url('images/body-bg.png') repeat left top;
}

/* For IE Browser
====================================*/
_:-ms-lang(x), html, body{
  height: auto;
  /* IE edge */
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"],
input[type="date"]{
	height: 40px; padding: 0 15px 0 15px; font-family: @OpenSans !important; border: solid 1px fade(@clr_black, 30%);
	color: @clr_darkgray; font-size: 14px; line-height: 40px; box-shadow: inset 0 1px 1px fade(@clr_black, 10%); border-radius: 3px;
	&:focus{
		box-shadow: inset 0 1px 1px fade(@clr_black, 10%);
	}
	&::-webkit-input-placeholder { 
		color: fade(@clr_darkgray, 40%); /* Chrome/Opera/Safari */
	}
	&::-moz-placeholder { 
		color: fade(@clr_darkgray, 40%); /* Firefox 19+ */
	}
	&:-ms-input-placeholder {
		color: fade(@clr_darkgray, 40%); /* IE 10+ */
	}
	&:-moz-placeholder { 
		color: fade(@clr_darkgray, 40%); /* Firefox 18- */
	}
}

label, .label {
	color: @clr_darkgray;
}

input[type="checkbox"],
input[type="radio"]{
	display: inline-block;
}

a{
	text-decoration: none !important;
}

p{
	font-size: 16px; line-height: 24px; margin-bottom: 15px; color: @clr_darkgray;
}

h1, h2, h3, h4, h5, h6{
	color: @clr_darkgray; font-family: @Quattrocento; font-weight: 600; margin: 0 0 15px 0; padding: 0; 
}
ol, ul{
	padding: 0; list-style: none;
}


/* page title 
======================================*/
.page-title-wrapper{
	width: 100%; margin: 0 auto; padding: 0 0 !important; 
	h1{
		display: block !important; font-size: 34px; color: @clr_darkgray; padding: 10px 0;
		position: relative; line-height: 33px; text-align: center;
	}
	.print{
		display: none !important;
	}
}

/* breadcrumbs 
======================================*/
.breadcrumbs{
	display: block !important;
	ul.items{
    	padding: 10px 0;
	    li{
	    	padding: 0; color: @clr_black; display: inline;
			a, strong{
				color: @clr_darkgray; font-family: @Quattrocento; font-size: 14px; font-weight: 600; 
			}
	    	strong{
				color: @clr_red;
			}
			&:hover{
				a{
					text-decoration: underline;
				}
			}
			&:after{
				content:'|' !important;  font-size: 14px !important; color: @clr_darkgray !important; line-height: 16px !important; 
				margin: 0 6px !important;
			}
			&:last-child{
				&:after{
					display: none;          
				}
			} 
	    }
	}
}


.actions a.action.continue,
.actions a.action.viewcart,
a.link,
.actions-toolbar a.action:not(.remind):not(.action-delete):not(.action-edit),
button[class*=action]:not(.search):not(.close):not(.action-close){
    .all_button_design; /* From variable file */
}


/* Slick Carousel
===============================*/
.slick-slider{
  .slick-arrow{
    width: 35px; height: 35px; border:solid 1px @clr_darkgray; border-radius: 100%; text-align: center; line-height: 33px; font-size: 0; 
    background: @clr_white; position: absolute; top: 45%; z-index: 9; padding: 0; box-shadow: none;
    .transition(all 0.3s ease-in-out); .transform(translateY(-50%));
    &:before{
      font-family: @FontAwesome; font-size: 24px; display: inline-block; color: @clr_darkgray;
    }

    &.slick-prev{
      left:-30px;
      @media only screen and (max-width: 1170px){
		left:0;
	  }
      &:before{
        content:'\f104'; 
      }
    }
    &.slick-next{
      right:-30px;
      @media only screen and (max-width: 1170px){
		right:0;
	  }
      &:before{
        content:'\f105'; 
      }
    }
    &:hover{
      background: @clr_darkgray;
      &:before{
      	color: @clr_white;
      }
    }
    &.slick-disabled{
      display: none !important;
    }
  }
}