@import 'variable.less';

header.page-header{
	margin: 0; padding: 0; border-bottom: solid 1px fade(@clr_black, 30%);
	position: relative; z-index: 9;
	@media only screen and (max-width: 767px){
		padding-top: 10px;
	}
	.panel.wrapper{
		display: none !important;
	}

	.header.content{
		padding:5px 15px; position: relative; z-index: 9;
	}

	/* Header Top Links 
	========================*/
	.header-topnav-container{
		width: 100%; background: @clr_darkgray;
		.header_top_links{
			@media only screen and (max-width: 767px){
				display: none;
			}
		}
	}
	.header_top_links{
		width: 100%; max-width: 1280px; margin: 0 auto;
		
		ul{
			margin: 0; padding: 0; list-style: none; text-align: right;
			@media only screen and (max-width: 767px){
				text-align: left;
			}
			li{
				margin: 0; display: inline-block; vertical-align: top;
				@media only screen and (max-width: 767px){
					display: block;
				}
				a{
					color: @clr_white; font-family: @Quattrocento; font-weight: 600; font-size: 14px; display: block; padding: 10px 15px;
					.transition(all 0.2s ease-in-out);
				}
				&:hover{
					a{
						background: @clr_red; color: @clr_white; 
					}
				}
			}
		}
	}


	/* Main Navigation
	======================*/
	.nav-sections{
		margin: 0; position: relative; background: @clr_darkgray;
		@media only screen and (max-width: 767px){
			position: fixed; top: 0; z-index: 999;
		}
		nav.navigation{
			background: @clr_darkgray;

			/* First Level 
			===================*/
			> ul{
				> li{
					> a{
						color: @clr_white !important; font-family: @Quattrocento; font-weight: 600; font-size: 14px; border: 0 none !important;
						line-height: 40px; text-transform: capitalize; .transition(all 0.2s ease-in-out);
						@media only screen and (max-width: 767px){
							line-height: inherit;
						}
						span.ui-icon{
							margin-right: 5px;
							@media only screen and (max-width: 767px){
								display: none;
							}
						}
						span{
							padding-left: 0;
						}
					}
					&:hover{
						> a{
							background: @clr_red; color: @clr_white !important; 
						}
					}
				}

				/* Secound Level 
				===================*/
				ul{
					text-align: left; background: @clr_white;
					li{
						a{
							font-family: @Quattrocento;
							.transition(all 0.2s ease-in-out);
						}
						&:hover{
							a{
								background: @clr_red; color: @clr_white !important; 
							}
						}
					}
				}

			}

			.header_top_links{
				@media only screen and (min-width: 768px){
					display: none;
				}
			}
		}
	}

	span.action.nav-toggle {
	    position: static; float: left; margin-right: 10px; border: solid 1px @clr_darkgray; border-radius: 3px; width: 30px; height: 30px;
    	text-align: center; background: @clr_darkgray;
    	&:before{
    		font-size: 20px !important; color: @clr_white !important; 
    	}
	}

	/* Logo
	================*/
	.logo{
		margin: 15px 0 0 0; 
		@media only screen and (max-width: 767px){
			margin: 0; 
		}
	}

	/* Mini Cart
	================*/
	.minicart-wrapper{
		float: right; display: none;
		@media only screen and (max-width: 767px){
			margin-top: 0; 
		}
	 	.action.showcart{
	 		padding: 7px 10px; text-align: center;
	 		&:before{
	 			color: @clr_darkgray; 
	 		}
	 		.text{
	 			display: block; position: static; width: auto; height: auto;
	 			color: @clr_darkgray; font-size: 14px; font-weight: 600; 
	 			@media only screen and (max-width: 767px){
					display: none;
				}
	 		}

	 		.counter.qty{
	 			display: inline-block; position: absolute; top: 0; right: 5px; width: 20px; height: 20px; border-radius: 100%;
		 		background: @clr_red; margin: 0;
		 		span.counter-number {
				    text-shadow: none; font-size: 11px; line-height: 20px; vertical-align: top;
				}
	 			&.empty{
		 			display: inline-block;
		 		}
	 		}

	 		&:hover, &.active{
	 			.text{
	 				color: @clr_red;
	 			}
 				&:before{
	 				color: @clr_red;
	 			}
 			}

	 	}

	 	.block-minicart{
	 		@media only screen and (max-width: 767px){
	 			right: 0;
	 		}
	 	}
	}

	/* my account links
	====================*/
	.rd-navbar-collapse-container{
		display: inline-block; float: right; position: relative; z-index: 9;
		button{
			&.togg-acc{
				background: none; padding: 10px; border: 0 none; box-shadow: none;
				@media only screen and (max-width: 767px){
					padding: 5px;
				}
				span{
					display: block; color: @clr_darkgray; font-weight: 600; font-size: 14px;
					@media only screen and (max-width: 767px){
						&:not(.show_acc_btn){
							display: none;
						}
					}
					.fa{
						font-size: 22px;
					}
				}
				&:hover{
		 			span{
		 				color: @clr_red;
		 			}
	 			}
			}
			&.showactive{
				span{
	 				color: @clr_red;
	 			}
			}
		}

		.rd-navbar-collapse{
			> ul.header.links{
				position: absolute; top: 100%; right: 0; padding: 15px 0 5px; border: solid 1px fade(@clr_black, 20%); 
				box-shadow: 0 3px 3px fade(@clr_black, 30%); background: @clr_white; width: 100%; min-width: 190px;
				display: none;
				@media only screen and (max-width: 767px){
					right: 0;
				}
				&:before{
				    content: '\f0d8'; font-family: @FontAwesome; font-size: 25px; line-height: 10px; color: @clr_white; 
				    text-shadow: 0 -1px 1px fade(@clr_black, 30%); display: block; position: absolute; z-index: 99; right: 40px; 
				    top: -8px;
				    @media only screen and (max-width: 767px){
						right: 7px;
					}
				}
				li{
					display: block; margin: 0 0 5px 0;
					a{
						color: @clr_darkgray; font-size: 14px; font-weight: 600; text-decoration: none !important; 
						padding: 5px 15px; display: block;
						.transition(all 0.2s ease-in-out); 
						&:hover{
							color: @clr_white; background: @clr_red;
							span{
								color: @clr_white;
							}
						}
					}
					&.greet.welcome{
						display: none !important;
					}
					&.customer-welcome{
						span.customer-name{display: none;}
						.customer-menu{
							display: block;
							> ul.header.links{
								position: static; width: 100%; display: block; border: none; box-shadow: none;
								&:before, &:after{
									display: none;
								}
							}
						}
					}
					&.customer-welcome + .authorization-link{
						display: none;
					}

				}
				&.showactive{
					display: block; 	
				}
				.clear;
			}
		}
		
	}

	/* Mini Search bar
	======================*/
	.block.block-search{
		float: right; margin: 0;
		@media only screen and (min-width: 767px){
			max-width: 40%; padding: 15px; width: 100%; 
		}
		@media only screen and (max-width: 767px){
			width: 100%; display: inline-block; margin-top: 10px;
		}
		.block-content{
			position: relative;
			form{
				@media only screen and (max-width: 767px){
					.displayFlex(flex); 
				}
				.field.search{
					@media only screen and (max-width: 767px){
						width: 100%;
					}
					label.label{
						float: none;
						@media only screen and (max-width: 767px){
							display: none;
						}
						&:before{
							margin: 0; color: @clr_darkgray;
						}
					}
					.control{
						@media only screen and (max-width: 767px){
							position: static; width: 100%; margin: 0; padding: 0; border: 0;
						}
						input{
							padding-right: 40px;
							@media only screen and (max-width: 767px){
								position: static; margin: 0; padding: 0 15px; font-size: 13px; border-radius: 3px 0 0 3px;
							}
							&:focus{
								box-shadow: inset 0 1px 1px fade(@clr_black, 10%);
							}
						}
						.search-autocomplete{
							margin: 0; 
						}
					}
				}
				.actions{
					@media only screen and (max-width: 767px){
						float: right; position: static; margin-left: 0;
					}
					button.action.search{
						@media only screen and (max-width: 767px){
							left: 0; width: auto; height: 40px; padding: 0 15px; background: @clr_darkgray; opacity: 1; box-shadow: none; 
							border: 0 none; color: @clr_white; font-size: 12px; border-radius: 0 3px 3px 0; display: inline-block;
							font-weight: 700; text-transform: uppercase;
						}
						&:before{
							display: inline-block; line-height: 40px;  color: @clr_darkgray;
						}
					}
				}
			}
		}
	}
}


header.page-header .nav-sections .nav-sections-item-title{
	display: none !important;
}
.nav-open{
	overflow: hidden;
	.page-wrapper{
		left: 0 !important;
	}

	header.page-header .nav-sections{
		left: 0;
		.nav-sections-item-content{
			margin: 0; padding: 0;
		}
	}

}