@import 'variable.less';

.home_product_collection{
	ul{
		.displayFlex(flex); overflow: hidden;
		li{
			padding: 15px; 
		}
		&.slick-slider{
			display: block !important; overflow: inherit !important;
		}
	}

	.collection_head{
		text-align: center; border-bottom: solid 1px fade(@clr_black, 30%); padding: 30px 15px; margin-bottom: 30px;
	}

	.home_product_collection_in{
		display: block; box-shadow: 0 0 8px 2px fade(@clr_black, 20%); width: 100%; min-width: 220px;
		border-radius: 3px; overflow: hidden;
		@media only screen and (max-width: 480px){
			min-width: 140px;
		}
		.home_product_collection_photo{
			display: block; 
			figure{
				padding-bottom: 125%; position: relative; overflow: hidden;
				img{
					width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: cover; 
				}
			}
		}
		.home_product_collection_info{
			padding: 15px;
			a{
				color: @clr_darkgray; font-size: 14px; font-weight: 600;
				.dot_elips;
				&:hover{
					color: @clr_red; text-decoration: underline;
				}
			}
		}
	}
}

.home_page_footer_sec{
	padding: 30px 0;
	ul{
		width: 100%; 
		li{
			width:100%; max-width: 33.3%; float: left; padding: 0 15px;
			@media only screen and (max-width: 767px){
				max-width: 100%;
			}
		}
		.clear;
	}

	.ytvideo{
		position: relative; padding-bottom: 56%; margin-bottom: 15px;
	}
	iframe{
		width: 100%; height: 100%; position: absolute; top: 0; left: 0; 
	}
}