@import 'variable.less';

/* login register page design 
=============================*/
body[class*=customer-account]{

  .page-title-wrapper{
    margin-top: 30px;
  }

  .login-container,
  form.form.form-create-account,
  form.form.password{
    width: 100%; max-width: 800px !important; margin: 0 auto 30px !important; padding: 15px;
    background: fade(@clr_black, 10%); border-radius: 5px;
    box-shadow: 0 0 5px 0px fade(@clr_black, 50%);

    .block-title{
      border-color: fade(@clr_darkgray, 30%);      
    }    

    > div.block,
    > fieldset.fieldset{
      width: 50%; padding: 0 15px; float: left;
      @media only screen and (max-width: 767px){
        width: 100%; display: block; float: none; padding: 0;
        &.account{
          margin-bottom: 10px;
          .account{
            margin-bottom: 0;
            &:after{
              display: none;
            }
          }
        }
      }
      legend.legend{
        span{
          color: @clr_darkgray; font-size: 18px; font-weight: 500;
        }
      }
    }

    .actions-toolbar{
      padding: 0 15px; display: inline-block; width: 100%; 
      @media only screen and (max-width: 767px){
        padding: 0; .displayFlex(flex);
        > div{
          margin-right: 5px;
        }
      }
    }

    .clear;

  }

  /* Login page 
  ===============*/
  .login-container{
    .field{
      .control{
        width: 100%; 
      }
    }
    .actions-toolbar{
      padding: 0;
    }
  }


  /* Register page 
  ===============*/
  form.form.form-create-account{
    .actions-toolbar{
      text-align: right; 
      .primary{
        float: right;
        @media only screen and (max-width: 767px){
          float: none;
        }
      }
    }
  }


  /* Forgot password page 
  =======================*/
  form.form.password{
    fieldset.fieldset{
      width: 100%; max-width: 420px; float: none; margin: 5px auto; .displayFlex(flex); .flexDirection(column);
    }
    .actions-toolbar{
      width: 100%; max-width: 420px; float: none; margin: 5px auto; .displayFlex(flex); 
    }
  }
}