@import 'variable.less';

.catalog-product-view{
	.product-info-main{
		width: 60%; margin: 0; padding: 0 30px 0 15px;
		@media only screen and (max-width: 767px){
			width: 100%; padding-left: 15px;
		}
		.page-title-wrapper{
			.page-title{
				text-align: left; margin: 0; font-size: 24px; line-height: 28px;
			}
		}

		.product-social-links{
			display: none;
		}
	}

	.product.media{
		width: 40%; margin: 0; padding: 0;
		@media only screen and (max-width: 767px){
			width: 100%;
		}

		.fotorama{
			border: solid 1px fade(@clr_black, 30%);

			.fotorama__stage{

			}
			.fotorama__nav-wrap{
				.fotorama__thumb-border{
					border-color: @clr_red;
				}
				&.fotorama__nav-wrap--horizontal{
					margin-top: 15px;
				}
			}
		}
	}


	.product.info.detailed{
		margin-top: 30px; display: inline-block; width: 100%;
	}
}