@import 'variable.less';

.sidebar.sidebar-additional{
  display: none !important;
}

body.page-products{
  .column.main{

    .search.results{
      dl.block{
        margin-bottom: 20px;
        a {
            color: @clr_red;
        }
      }
    }

    .toolbar.toolbar-products{
      > div:not(.sorter),
      .toolbar-amount{
        display: none;
      }

      select#sorter {
        background-color: @clr_white; border: solid 1px @clr_darkgray;
      }
    }


  }
}



div#layered-filter-block{
  .block-title.filter-title{
    strong {
      background: @clr_white; border: solid 1px @clr_darkgray; color: @clr_darkgray; font-weight: 700; font-size: 14px;
    }
  }
}


.page-products,
.catalog-product-view, 
.wishlist-index-index { 
  .products, .wishlist{
    margin: 0;


    &.grid.products-grid{

      ol.product-items{
        margin: 0 -15px; font-size: 0;
        @media only screen and (max-width: 991px){
          margin: 0 -10px;
        }
        li{
          padding: 0 15px; margin: 0; margin-bottom: 30px; border: 0 !important; display: inline-block; vertical-align: top;
          width: 100%; max-width: 25%;
          @media only screen and (max-width: 991px){
            max-width: 33.3%; padding: 0 10px;
          }
          @media only screen and (max-width: 576px){
            max-width: 50%; 
          }
        }
      }

      .product-item-info{
        width:100%; margin: 0; padding: 0; box-shadow: 0 0 5px 0px fade(@clr_black, 20%); border: 0; position: relative; top: 0; 
        border: solid 1px #ccc; background: @clr_white; .transition(all 0.2s ease-in-out); 
        .product-item-photo{
          width: 100%; display: block; padding-top: 1px; margin-bottom: 15px;
          .product-image-container{
            width: 100% !important; max-width: 100%; display: block;
            .product-image-wrapper{
              padding-bottom: 100% !important; background: @clr_white; overflow: hidden;
              .product-image-photo{
                margin: 0; width: 100%; height: 100%; object-fit: scale-down; object-position: center;
                position: absolute; top: 0; left: 0;
              }
            }
          }
        }

        .product-item-details{
          padding: 0 10px 15px; display: block;
          .product-item-name{
          	margin: 0 0 10px; 
          	.product-item-link{
          		color: @clr_darkgray; font-size: 14px; font-weight: 700; 
          		.dot_elips;
          	}
          }

          .price-box{
          	margin: 0 0 15px; display: none;
          	span.price{
          		color: @clr_darkgray; font-size: 14px; font-weight: 700; 
          	}
          }

          .product-item-inner{
          	width: 100%; height: auto; display: block; position: static; box-shadow: none;
          	border: 0; margin: 0; padding: 0;
          	&:before{
          		display: none;
          	}
          	.product-item-actions{
          		margin: 0; 
          	}
          	.actions-primary{
          		button{
          			.all_button_design;
          			a{
          				color: @clr_white; 
          			}
          			&:hover{
          				a{
          					color: @clr_red;
          				}
          			}
          		}
          	}
          	.actions-secondary{
          		display: none;
          	}

          }
        }
      }
    }
  }
}