/* variables 
============================*/
@clr_black: #000000;
@clr_white: #FFFFFF;
@clr_darkgray: #333333;
@clr_red: #cf2f41;


.transform(@arguments) {
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -ms-transform: @arguments;
    -o-transform: @arguments;
    transform: @arguments;
}

.transition(@arguments) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -ms-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments;
}

.transition-delay(@arguments){
    -webkit-transition-delay: @arguments;
    -moz-transition-delay: @arguments;
    -ms-transition-delay: @arguments;
    -o-transition-delay: @arguments;
    transition-delay: @arguments;
}

.displayFlex(@argument){ 
    display: ~"-webkit-@{argument}";
    display: ~"-moz-@{argument}";
    display: ~"-ms-@{argument}";
    display: ~"-o-@{argument}";
    display: @argument;
}

.flex_wrap(@argument){
    -webkit-flex-wrap: @argument;
    -moz-flex-wrap: @argument;
    -ms-flex-wrap: @argument;
    -o-flex-wrap: @argument;
    flex-wrap: @argument;
}

.flexDirection(@argument){
    -webkit-flex-direction: @argument;
    -moz-flex-direction: @argument;
    -ms-flex-direction: @argument;
    -o-flex-direction: @argument;
    flex-direction: @argument;
}

.order(@argument){
    -webkit-order: @argument;
    -moz-order: @argument;
    -ms-order: @argument;
    -o-order: @argument;
    order: @argument;
}


/* Fonts 
====================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@OpenSans: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Quattrocento:400,700&display=swap');
@Quattrocento: 'Quattrocento', serif;

@FontAwesome: 'FontAwesome';

/* Clear floating
======================================*/
.clear{
  &:after{
    content:''; clear: both; display: block; height: 0;
  }
}

/* Clear ellipsis
======================================*/
.dot_elips{
  display: block; display: -webkit-box; text-overflow: ellipsis; overflow: hidden; -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; height: 40px;
}

/* all_button_design
======================================*/
.all_button_design{
  color: @clr_white; font-family: @Quattrocento; font-size: 12px; text-transform: uppercase; line-height: 19px; font-weight: bold; min-height: 34px; 
  text-align: center; background: @clr_red; border:solid 2px @clr_red; display: inline-block; padding:5px 15px; margin: 0 5px 0 0; 
  box-shadow: none; border-radius: 4px; .transition(all 0.2s ease-in-out);
  &:hover{
    background:@clr_white; border:solid 2px @clr_red; color:@clr_red;
  }
}