<div class="footer_content">
    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_content')->toHtml();?>

    <div class="footer_news_letter">
        <p><strong>Subscribe to our e-mail newsletter to receive updates</strong></p>
        <?php echo $this->getLayout()->createBlock('Magento\Newsletter\Block\Subscribe')->setTemplate('Magento_Newsletter::subscribe.phtml')->toHtml(); ?>
    </div>
</div>




<script type="text/javascript">
require(['jquery','jquery/ui', 'bootstrap', 'slick'],function ($) {
    jQuery(document).ready(function () {
        jQuery(document).click(function(){
            jQuery('.header ul.links').removeClass('showactive');
            jQuery("#show-btn").removeClass('showactive');
        });
        // My accoutn --------------------------
        jQuery("#show-btn").click(function(e) {
            e.stopPropagation();
            jQuery("#show-btn").toggleClass('showactive');
            jQuery(".header ul.links").toggleClass('showactive');

            jQuery('.minicart-wrapper').removeClass('active');
            jQuery('.minicart-wrapper a').removeClass('active');
            jQuery('.minicart-wrapper .ui-dialog').hide();
        });

        jQuery('.minicart-wrapper a').click(function(e){
            jQuery('#show-btn').removeClass('showactive');
            jQuery('#show-btn + .header.links').removeClass('showactive');
        });


    });
});
</script>